@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'JetBrains Mono', monospace;
  background-color: #696D7D;
}

line {
  stroke-width: 24px;
  stroke-linecap: round;
  fill: transparent;
}
